# exclude dataset
/Web2Code
Web2Code/*
Web2Code*
/extracted_images
/extracted_images/*
/extracted_images_eval
/extracted_images_eval/*
*.zip
CVS_Proj_Agent/Images/*
CVS_Proj_Agent/Outputs/*
CVS_Proj_Agent/Outputs/.*
.env
Outputs/*
Images/*
.*
